.wind-container{
    padding:2rem 0;
    background:#f8f8f8;
}

.wind-container>div{
    margin-bottom: 2rem;
}

.wind-container .block-title{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.wind-temperature-container{
    padding:0 1rem;
    display:flex;
    justify-content:space-between;
}

.wind-tag-container{
    padding:1rem 0;
    width: 48%;
    border:1px solid green;
    border-radius:5px;
    display:flex;
    justify-content:center;
    background: white;
}

.wind-tag-container.cold.active{
    background: rgba(198, 234, 251, 0.8);
}

.wind-tag-container.hot .active{
    display: none;
}

.wind-tag-container.hot.active{
    background: rgba(247, 146, 146, 0.6);
    border-color: #fc5c5c;
}

.wind-tag-container.hot.active .active{
    display: inline-block;
}

.wind-tag-container.hot.active>img{
    display: none;
}

.wind-icon{
    width: 2.2rem;
    margin-right: 0.5rem;
}

.wind-level-container{
    padding:0 1rem;
}

.icon-wrapper {
    position: relative;
    padding: 0.5rem 3rem;
    border:1px solid green;
    border-radius:5px;
}
  
.icon-wrapper .wind-icon {
    position: absolute;
    /* top: -2px; */
}

.icon-wrapper .wind-icon:first-child {
    left: 0;
}

.icon-wrapper .wind-icon:last-child {
    top: -1.2rem;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    margin: auto 0;
}

.wind-types-selector{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wind-type-container{
    box-sizing: border-box;
    width: 20%;
    padding: 1rem;
    margin: 1rem 6%;
    flex-grow: 1;
    border: 1px dashed green;
    border-radius: 5px;
}

.wind-type-icon-container{
    padding: 0 1.5rem 1rem;
}

.wind-type-container .wind-type-icon{
    width: 100%;
}

.wind-type-container .wind-type-text{
    text-align: center;
}