html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

.gmair_page {
    margin: 0 0.8rem;
}

.gmair_logo {
    text-align: center;
    width: 100%;
    padding: 6.5rem 0 1.5rem 0;
}

.gmair_logo_slogan {
    text-align: center;
    margin: 3rem 0 3rem 0;
    letter-spacing: 0.55rem;
    font-family: FZLanTingKanHei-R-GBK;
    font-size: 1.7rem;
    font-weight: lighter;
    color: #FFFFFF;
}

.gmair_login_area, .gmair_register_area {
    width: 85%;
    margin: 7rem 7.5% 3.5rem 7.5%;
}

.gmair_login_area ::-webkit-input-placeholder , .gmair_register_area ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF !important;
}
.gmair_login_area :-moz-placeholder, .gmair_register_area :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF !important;
}
.gmair_login_area ::-moz-placeholder, .gmair_register_area ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF !important;
}
.gmair_login_area :-ms-input-placeholder, .gmair_register_area :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #FFFFFF !important;
}
.gmair_login_area ::-ms-input-placeholder, .gmair_register_area ::-ms-input-placeholder { /* Microsoft Edge */
    color:    #FFFFFF !important;
}

.gmair_login_area ::placeholder, .gmair_register_area ::placeholder { /* Most modern browsers support this now. */
    color:    #FFFFFF !important;
}

.gmair_login_btn, .gmair_register_btn {
    width: 85%;
    margin: 0 7.5% 0 7.5%;
    text-align: center;
}

.input-group-addon {
    padding: unset;
    background-color: transparent;
    border: unset;
}

.btn-default:focus, .btn-default:hover {
    background-position: unset;
}